{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

{{ if eq .package_manager "homebrew" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

{{ else -}}

sudo port install {{ .packages.darwin.ports | join " " }}

{{ end -}}

{{ end -}}