{{- $vcs := promptChoiceOnce . "vcs" "vcs" (list "git" "other") -}}
{{- $vcsEmail := promptString "vcs email" "3050627+ronlut@users.noreply.github.com" -}}
{{- $osVersion := output "sw_vers" "-productVersion" | splitList "." | first -}}

data:
    vcs_type: {{ $vcs | quote }}
    vcs_email: {{ $vcsEmail | quote }}
    os_version: {{ $osVersion }}
