[user]
	name = Rony Lutsky
	email = {{ .vcs_email }}

[url "git@gitlab.com:"]
    insteadof = https://gitlab.com/

# example
#[includeIf "gitdir:~/dev/companyA/**"]
#    path = .gitconfig-companyA

[init]
	defaultBranch = main
[core]
	autocrlf = input
